body{
  background-color: #2c3e50;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #34495e;
}
.row .alert {
  margin-top: 25px;
  color: black;
}
th, td {
  border-top: none !important;
}
td{
  color: black;
}
th{
  color: white;
}

h3 {
  background-color: #333;
  color: white;
  padding: 12px;
  border-top-right-radius: 20px;
  font-weight: bolder;
  letter-spacing: .1em;
}
.comment-form {
  width: 500px;
}
.comment-form .input-group {
  margin: 10px 0; 
}
.navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 56px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
    position: relative;
    top:0px;
  }
 nav a.btn-expand-collapse{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;

  }
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  .navbar-primary-menu li a .fa{
    margin-right: 6px;
  } 
  .main-content {
    margin-top: 60px;
    margin-left: 200px;
    color:white;
    padding: 20px;
    background: #2c3e50;
    font-family: monospace;
  }
  .navbar-global {
    background-color: rgb(218, 8, 8);
  }
    .navbar-global .navbar-brand {
        color: white;
      }

  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .fa {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      top:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #fff;
      color: #fff;
      font-size: 40px;
      text-align: center;
  }
  .btn-expand-collapse .fa-menu-icon{
      color: #ccc;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: rgb(22, 22, 22);
      color: white;
      cursor: pointer;
  } 
  
  .btn-expand-collapse:active {
      background-color: black;
  } 
  
